body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #fbff00;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.square {
  border: 1px solid;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 60px;
  background-color: #a89a9a;
}

.square.mole {
  background: url(./img.png);
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: center;
}

.score-container {
  display: flex;
}

.time-container {
  display: flex;
}

.btn {
  color: inherit;
  height: 50px;
  width: 90px;
  margin: 0 30px;
  font-size: 1.2rem;
  background: #003355;
}

.btn:disabled {
  background: #2f4858;
}
