body {
  background: cornflowerblue;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
}

.box {
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 1px solid;
}
